/* ייבוא גופן מיוחד מגוגל */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

/* עיצוב לרכיב ראשי*/
.main-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  direction: rtl;
}

/* עיצוב לרכיב אשר מקבל את המשתמש ונותן הסבר על אפליקציה*/
.summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.summary h2 {
  font-size: 2em;
}
/* עיצוב לרכיב כפתור מותאם אישית*/
.btn {
  background: linear-gradient(135deg, #4a90e2, #0072ff);
  color: #fff;
  border: none;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border-radius: 9999px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 14px 30px rgba(0, 114, 255, 0.35);
}

/* עיצוב עבור שדה קלט */
.input-controller {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-bottom: 8px;
}

.input-controller label {
  font-weight: bold;
}

.input-controller input {
  width: 100%;
  padding: 0.7rem 1.2rem;
  border: 2px solid #e0e0e0;
  border-radius: 50px;
  outline: none;
  font-size: 1rem;
  transition: all 0.25s ease;
  background-color: #fafafa;
}

/* עיצוב עבור הכוכבית שעל יד השדה חובה בטופס */
.required-felid {
  color: red;
}

/* עיצוב עבור השגיאות ולידצייה שמגיעה מגוי */
.error-message {
  color: #d8000c;
  background-color: #ffd2d2;
  border: 1px solid #d8000c;
  text-align: center;
  padding: 8px;
  border-radius: 50px;
  width: 50vw;
}

/* עיצוב קונטיינר הטבלה */
.dishes-table-controller {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

/* עיצוב הטבלה עצמה  */
.dishes-table-controller table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
}

/* עיצוב כותרות הטבלה */
.dishes-table-controller thead {
  background-color: #007bff;
  color: #fff;
}

/* עיצוב התאים  */
.dishes-table-controller th,
.dishes-table-controller td {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
}

/* עיצוב כל שורה זוגית בצבע רקע מותאם */
.dishes-table-controller tr:nth-child(even) {
  background-color: #b5d0ea;
}

.dishes-table-controller tbody {
  width: 100%;
}
/* עיצוב הודעות התראה */
.warning-msg {
  border: 2px solid #ffcc00; /* מסגרת צהובה */
  background-color: #fff8e1; /* רקע צהוב בהיר */
  color: #664d03; /* טקסט חום כהה */
  padding: 10px 14px;
  border-radius: 6px;
  text-align: center;
  width: fit-content;
  margin: 10px auto; /* ממורכז */
  font-size: 1rem;
  font-weight: bold;
}
